.nearby-theaters-container {
    border: 3px solid black;
}

.nearby-theaters-item-card {
    border: 3px solid blue;
}

.nearby-theaters-content {
    display: grid;
    justify-content: left;
    padding: 100px 0 25px;
}