.searchButton {
    all: unset;
    background-color: #fafafa;
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 14px;
    font-family: sans-serif;
    margin-right: 13px;
    position: center;
    background: #fafafa;
}

.searchButton:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}