.search {
    --padding: 14px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #ffffff;
    width: 600px;
    transition: box-shadow 0.25s;
    margin-bottom: 30px;
}

.search:hover {
    box-shadow: 0 0 8px rgb(161, 158, 158);
}

.search:focus-within {
    box-shadow: 0 0 8px rgb(161, 158, 158);
}

.search-input {
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

.search-input::placeholder, .search-icon {
    color: rgba(0, 0, 0, 0.5)
}