.movie-slider-container {
    top: 20px;
    overflow: hidden;
    position: relative;
}

.movie-slider-wrapper {
    display: flex;
}

.navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left-button {
    top: 60px;
    left: 5px;
}

.right-button {
    top: 60px;
    right: 5px;
}