.slider-item-card {
    
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 15px;
}

.slider-item-image {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.slider-item-title {
    text-align: center;
    margin: 15px auto 0;
}

.slider-item-title h4 {
    margin: 0;
}