html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.all-content {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.top-content, .bottom-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
}

.center-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.top-left-position, .top-right-position {
    padding-left: 10px;
    padding-top: 25px;
    padding-right: 150px;
}

.bottom-left-position, .bottom-right-position {
    padding-left: 10px;
    padding-bottom: 35px;
    padding-right: 10px;
}