.navigationalButton {
    all: unset;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    
    display: inline-block;
    margin-right: 30px;
}

.navigationalButton:hover{
    text-decoration: underline;
}