.nav {
    border: 0;
    padding: 15px;
    color: white;
    display: flex;
    align-items: center;
}

.nav-content {
    grid-template-columns: 100px 1fr;
    display: grid;
    width: 100%;
}

.logo img {
    object-fit: cover;
    height: auto;
    width: 100px;
}

.left-arrow-button img {
    object-fit: cover;
    height: auto;
    width: 40px;
}

.right-arrow-button img {
    object-fit: cover;
    height: auto;
    width: 60px;
}

.nav .button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 7px;
    color: #FFF;
    text-decoration: none;
}

.links {
    padding: 10px;
}

@media (min-width: 768px) {
    .links {
        display: flex;
        justify-content: center;
        margin-left: -100px;
    }
}

.nav .button:hover {
    color: aqua;
    text-decoration: underline;
}